.main-content{
    margin-top: 15px;
    margin-left: 15px;
}


#map {
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 200px);
}

#map1 {
    width: 60%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 124px);
}

table {
    border-spacing: 0px;
    table-layout: fixed;
    margin-left:auto; 
    margin-right:auto;
}

td{
    word-wrap:break-word
}

/* .bottom_right {
    position:absolute;
    bottom:0;
    right:0;
} */